<script type="text/javascript">
  window.staticImage = {
    phonelogin: "<%= image_path('login_phone.jpg') %>",
    sociagramlogo: "<%= image_path('sociagramlogo.png') %>"
  }
</script>

  <script type="text/javascript">
    <% if signed_in? %>
        window.currentUser = <%= render("api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
    <% end %>
  </script>
<div id="root"> Basic Page </div>
