// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-part{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.single-comment{
  padding: 1px 5px 5px;
  margin-top: 7px;
}

.comment-container{
  display: flex;
  width: 542px;
  flex-direction: column;
  flex-wrap: wrap;

}
.input-body-form{
  margin: 0;
  border-radius: 3px;
  height: 100px;
  width: 585px;
  margin-bottom: 10px;
  padding-left: 8px;
  font-size: 14px;
  background-color: #fafafa;
  border: 1px solid lightgrey;
  color: darkgrey;
  font-weight: 100;
}

.body-comments{
  padding: 1px 10px 5px;
}
.body-comments-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 550px;
}

.delete-comment:hover{
  cursor: pointer;

}
