// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-part{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.all-comments{
  width:100%;
}
.single-comment{
  padding: 1px 5px 5px 15px;
  margin-top: 7px;
  width: 100%;
}

.comment-container{
  display: flex;
  width: 542px;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 150%;
}
.input-body-form{
  border-radius: 3px;
  height: 35px;
  width: 100%;
  font-size: 14px;
  background-color: #fafafa;
  color: darkgrey;
  font-weight: 100;
  outline: none;
  border: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  caret-color: black;
}
.input-body-form:focus{
  color: black;
}

.body-form{
  border-top: 1px solid lightgrey;
  padding-left: 0px;
  padding-right: 10px;
  width: 100%;
  align-self: center;
  margin-top: 10px;
}
.body-comments{
  width: 500px;
  padding: 0px 5px 5px;
  font-weight: lighter;
  line-height: 1.3;
  overflow-wrap: break-word;
  overflow: hidden;
}

.body-comments-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 78%;
}

.delete-comment:hover{
  cursor: pointer;
}

.user-text{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-family: "Roboto Mono";
  margin-top: 2px;
}
.delete-x{
  width: 13px;
  height: 17px;
  padding-top: 4px;
}
