// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-part{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

// .single-comment{
//   display: flex;
//   width: 542px;
//   flex-direction: column;
//   flex-wrap: wrap;
// }

.comment-container{
  display: flex;
  width: 542px;
  flex-direction: column;
  flex-wrap: wrap;

}
