// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heart-active{
  width: 24px;
  height: 24px;
  padding-top: 10px;
  padding-left: 15px;
}

.heart-inactive{
  width: 24px;
  height: 24px;
  padding-top: 10px;
  padding-left: 15px;
}
