.navbar{
  display: flex;
  justify-content: center;
  width: 60%;
  height: 80px;
  margin: auto;
}
.parent-nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background: white;
  border-bottom: 1px solid lightgrey;
  z-index: 10;
}

.logo-container{
  padding-right: 5px;
}

.navbar-search{
  margin-top: 20px;
  height: 20px;
  width: 50%;
  text-align: center;
  font-size: 14px;
  padding: 4px;
  background-color: #fafafa;
  border:1px solid lightgrey;
}
.navbar-search:focus{
  outline: none;
  text-align: left;
  padding-left: 12px;

}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

.nav-logout{
  margin-top: 25px;
  width: auto;
  height: 30px;
  margin-right: 60px;
}
.nav-new{
  margin-top: 20px;
  width: 40px;
  height: 40px;

}

.profile-image{
  padding-top: 20px;
  width: 30px;
  height: 30px;
  width: auto;
}
.top-right-nav{
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.logo-image{
  width: 200px;
  height: 50px;
  padding-top: 10px;
}
