.navbar2{
  display: flex;
  justify-content: center;
  width: 850px;
  height: 80px;
  margin: auto;
}
.parent-nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background: white;
  border-bottom: 1px solid lightgrey;
  z-index: 10;
}

.logo-container{
  padding-right: 5px;
}

.navbar-search{
  margin-top: 20px;
  height: 30px;
  width: 100%;
  min-width: 275px;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  background-color: #fafafa;
  border:1px solid lightgrey;
}
.navbar-search:focus{
  outline: none;
  text-align: left;
  padding-left: 12px;

}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

.nav-logout{
  margin-top: 25px;
  width: auto;
  height: 30px;
  margin-right: 60px;
}
.nav-new{
  margin-top: 20px;
  width: 40px;
  height: 40px;

}

.profile-image{
  padding-top: 20px;
  width: 30px;
  height: 50px;
}
.top-right-nav2{
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.logo-image{
  width: 200px;
  height: 50px;
  padding-top: 10px;
}

.footer-profile{
  display:flex;
  flex-direction: column;
  width: 100%;
  max-width:600px;
}

.footer-height{
  height: 80px;
}

.search-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 20px;
}

.suggestions-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid lightgrey;
  background: white;
  position: fixed;
  margin-top: 49px;
}

.suggestions-link{
  font-family: "Roboto Mono";
  padding: 9px;
  margin-bottom: 15px;
  margin-right: 5px;
  font-size: 18px;
}

.suggestions-li{
  min-width: 273px;
}

.search-avatars{
  width: 40px;
  height: 40px;
  padding: 2px;
}
.explore-container{
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 1px solid lightgrey;
  margin: 25px;
}
.explore-avatar{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.explore-titles{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  font-size: 15px;
  font-family: "Open Sans";
}
.explore-name{
  margin-top: 8px;
  margin-bottom: 5px;
  color: #b9b3b3;
}
.explorer-header{
  color: grey;
  width: 100%;
}
.explorers{

}
.exp-container{
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
