// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts-index{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.posts-index-item{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  width: 600px;
  margin-bottom: 60px;
}

.posts-body{
  display: flex;
  justify-content: flex-start;
  padding: 1px 5px 5px 15px;
  margin-top: 7px;
}
.posts-body-body{
  padding: 0px 5px 5px;
  font-weight: lighter;
}

.posts-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input-form{
  margin: 0;
  border-radius: 3px;
  height: 100px;
  min-width: 300px;
  max-width: 640px;
  margin-bottom: 10px;
  padding-left: 8px;
  font-size: 14px;
  background-color: #fafafa;
  border: 1px solid lightgrey;
  color: darkgrey;
  font-weight: 100;
}
.input-form:focus{
  color: black;
  font-weight: 500;
}

.upload-button{
  display: flex;
  justify-content: center;
  background: #3897f0;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  width: 50%;
}
.up-button{
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.sub-buttons{
  display: flex;
  justify-content: space-between;
}
.post-images{
  margin-top: 20px;
  margin-bottom: 5px;
  width: 600px;
  min-height: 300px;
  max-height: 800px;
}
.posts-item2{
  display: flex;
  flex-direction: column;
  width: 600px;
}

.post-image-container{
  display: flex;
  justify-content: flex-start;
  width: 600px;

}

.likes-counter{
  display: flex;
  flex-direction: column;
}

.single-counter-likes{
  padding-top: 10px;
  margin-left: 4px;
  padding-left: 13px;
}

.post-title-single{
  padding-top: 5px;
}
.posts-title-user{
  padding-left: 0px;
}
.post-container-title-user{
  display: flex;
  flex-direction: column;
  height: 30px;
}
.preview-image{
  max-width: 640px;
  max-height: 400px;
  margin-bottom: 10px;
  border: none;
}
