.stats-user{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 600px;
  font-size: 16px;
  margin-top: 16px;
}
.profile-name{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 600px;
  font-size: 17px;
  font-weight: bolder;
  margin-top: 20px;
}

.profile-user{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 600px;
  font-size: 33px;
  font-weight: 300;
}

.profile-section{
  padding-left: 110px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile-fname{
  padding-right: 7px;
  text-transform: capitalize;
  font-family: "Roboto Mono";
}

.profile-lname{
  text-transform: capitalize;
  font-family: "Roboto Mono";
}

.profile-stat-rows{
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logout-profile{
  width: 35px;
  height: 35px;
  margin-left: 23px;
}

.logout-profile:hover{
  cursor: pointer;
}

.edit-profile{
  margin-left: 23px;
  width: 100px;
  height: 30px;
  border: 1px solid lightgrey;
  background-color: #fafafa;
  border-radius: 3px;
  font-size: 14px;
}

.user-pic{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.post-counter{
  padding-right: 60px;
}
.follows-counter{
  padding-right: 60px;
}
.followers-counter{

}

.user-posts{

  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-top: 20px;
  object-fit: cover;
}

.profile-posts-container{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 40px;
  justify-content: flex-start;
}
.follow{
  width: 120px;
  height: 30px;
  margin-left: 20px;
  border-radius: 3px;
  font-size: 14px;
  background: white;
  border: 1px solid lightgrey;
}

.unfollow{
  width: 120px;
  height: 30px;
  background-color: #3897f0;
  color: white;
  margin-left: 20px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid lightgrey;
}
.unfollow:focus{
  outline: none;
}
.follow:focus{
  outline: none;
}

.no-input{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.profile-upload-button{
  position: relative;
}

.profile-up-button{
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity = 0);
  opacity: 0;
  z-index: 2;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.profile-hover{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin-right: 20px;
  margin-top: 20px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.p-hover{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  color: white;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
}

.icon-hover{
  padding-right: 7px;
  font-size: 30px;
}

.profile-out{
  position: fixed;
  display: None;
}

.user-posts-container{
  position:relative;
}

.user-posts-container:hover .p-hover{
  opacity: 1;
}
