// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-section{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.user-avatar{
  width: 30px;
  height: 30px;
  padding-right: 10px;
}
.user-avatar-container{
  display: flex;
  flex-direction: row;
}

.avatar-container{
  padding-top: 15px;
  padding-left: 15px;
}
